<div class="container py-4">
	<div class="mb-3">
		<adl-button [config]="formConfig.exampleButtonBasic"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonRaised"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonStroked"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonFlat"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonIcon"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonFAB"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonMiniFAB"
			(nextAction)="updateOutput('button', $event)"></adl-button>
		<adl-button [config]="formConfig.exampleButtonLink"></adl-button>
	</div>

	<adl-autocomplete [config]="formConfig.exampleAutoComplete"
		(selected)="updateOutput('autocomplete', $event)"></adl-autocomplete>

	<adl-input-text [config]="formConfig.exampleInputText"
		(updateValue)="updateOutput('inputText', $event)"></adl-input-text>

	<adl-input-text [config]="formConfig.exampleTextArea"
		(updateValue)="updateOutput('textArea', $event)"></adl-input-text>

	<adl-search [config]="formConfig.exampleSearch"
		(updateSearch)="updateOutput('search', $event)"></adl-search>

	<!-- <div class="mb-3">
		<adl-checkbox [config]="formConfig.exampleCheckbox"
			(selected)="updateRadioButtonSelected($event)"></adl-checkbox>
	</div>

	<div class="mb-3">
		<adl-radio-button [config]="formConfig.exampleRadioButton"
			(selected)="updateRadioButtonSelected($event)"></adl-radio-button>
	</div>

	<div class="mb-3">
		<adl-chips [config]="formConfig.exampleChips"></adl-chips>
	</div>

	<adl-select [config]="formConfig.exampleSelectOption"
		(selected)="updateSelect($event)"></adl-select>

	<adl-table [table]="table"
		(nextAction)="onClickButton($event)"></adl-table> -->
</div>
