<h2 class="font-heading font-AxiataBold mb-3">Button</h2>

<!-- <p>A text field is a basic text control that enables the user to type a small amount of text. No matter what app you
	use, you’re bound to run across some little text field requiring your personal information. Even typing a question
	into Google is considered filling out a form which has only one text field.</p> -->

<p class="mb-0">Source:</p>

<!-- <a href=" https://uxplanet.org/designing-perfect-text-field-clarity-accessibility-and-user-effort-d03c1e26004b"
	class="d-block font-dark font-12px"
	target="blank">
	https://uxplanet.org/designing-perfect-text-field-clarity-accessibility-and-user-effort-d03c1e26004b
</a> -->
<a href="https://v12.material.angular.io/components/button/api"
	class="d-block font-dark font-12px"
	target="blank">
	Angular Material - Button
</a>

<mat-divider class="mt-4 mb-2"></mat-divider>

<div class="d-flex justify-content-between align-items-center my-4">
	<p class="font-black font-AxiataBold mb-0">
		Button
	</p>

	<button mat-flat-button
		color="primary"
		class="font-12px"
		(click)="isShowSnippet = !isShowSnippet">
		<mat-icon class="font-20px">code</mat-icon> Code
	</button>
</div>

<!-- <div *ngIf="isShowSnippet">
	<pre><code [highlight]="codeSnippet" [languages]="['html']"></code></pre>
</div> -->
<div *ngIf="isShowSnippet">
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="HTML">
			<pre><code [highlight]="codeSnippet" [languages]="['html']"></code></pre>
		</mat-tab>
		<mat-tab label="TS">
			<pre><code [highlight]="codeSnippetTS" [languages]="['typescript']"></code></pre>
		</mat-tab>
	</mat-tab-group>
</div>

<section class="d-flex align-items-center mb-3">
	<button mat-flat-button
		color="primary">
		Search
	</button>

	<span class="mx-2"></span>

	<button mat-flat-button
		color="primary">
		<mat-icon>search</mat-icon>
		Search
	</button>

	<span class="mx-2"></span>

	<button mat-flat-button
		color="primary"
		class="rounded-20px">
		Search
	</button>

	<span class="mx-2"></span>

	<button mat-flat-button
		color="primary"
		class="rounded-20px">
		Search
		<mat-icon>close</mat-icon>
	</button>

	<span class="mx-2"></span>

	<button mat-flat-button
		color="primary"
		disabled>
		Search
	</button>
</section>

<section class="d-flex align-items-center">
	<button mat-flat-button
		color="primary"
		class="button-icon px-2">
		<mat-icon>search</mat-icon>
	</button>

	<span class="mx-2"></span>

	<a mat-flat-button
		color="primary"
		href="https://www.google.com/"
		target="_blank">Link</a>

	<span class="mx-2"></span>

	<button mat-flat-button
		color="primary"
		class="loader"
		[disabled]="isLoading"
		(click)="clickedButton()">
		<mat-spinner *ngIf="isLoading"
			class="my-auto mr-2"
			[diameter]="20"
			[strokeWidth]="3"></mat-spinner>
		Click Me!
	</button>

	<span class="mx-2"></span>

	<button mat-flat-button
		color="primary"
		class="loader"
		[disabled]="isLoading"
		(click)="clickedButton()">
		<mat-spinner *ngIf="isLoading"
			class="my-auto mr-2"
			[diameter]="20"
			[strokeWidth]="3"></mat-spinner>

		<mat-icon class="my-auto mr-2">search</mat-icon>
		Click Me!
	</button>
</section>

<mat-divider class="my-4"></mat-divider>

<section class="d-flex align-items-center mb-3">
	<button mat-stroked-button
		color="primary">
		Search
	</button>

	<span class="mx-2"></span>

	<button mat-stroked-button
		color="primary">
		<mat-icon>search</mat-icon>
		Search
	</button>

	<span class="mx-2"></span>

	<button mat-stroked-button
		color="primary"
		class="rounded-20px">
		Search
	</button>

	<span class="mx-2"></span>

	<button mat-stroked-button
		color="primary"
		class="rounded-20px">
		Search
		<mat-icon>close</mat-icon>
	</button>

	<span class="mx-2"></span>

	<button mat-stroked-button
		color="primary"
		disabled>
		Search
	</button>
</section>


<section class="d-flex align-items-center">
	<button mat-stroked-button
		color="primary"
		class="button-icon px-2">
		<mat-icon>search</mat-icon>
	</button>

	<span class="mx-2"></span>

	<a mat-stroked-button
		color="primary"
		href="https://www.google.com/"
		target="_blank">Link</a>

	<span class="mx-2"></span>

	<button mat-stroked-button
		color="primary"
		class="loader"
		[disabled]="isLoading"
		(click)="clickedButton()">
		<mat-spinner *ngIf="isLoading"
			class="my-auto mr-2"
			[diameter]="20"
			[strokeWidth]="3"></mat-spinner>
		Click Me!
	</button>

	<span class="mx-2"></span>

	<button mat-stroked-button
		color="primary"
		class="loader"
		[disabled]="isLoading"
		(click)="clickedButton()">
		<mat-spinner *ngIf="isLoading"
			class="my-auto mr-2"
			[diameter]="20"
			[strokeWidth]="3"></mat-spinner>

		<mat-icon class="my-auto mr-2">search</mat-icon>
		Click Me!
	</button>
</section>
