<a mat-list-item
	class="menu-list-item"
	[ngStyle]="{ 'padding-left': (depth * 12) + 'px' }"
	[ngClass]="{
		'sub-menu-1': item.level === 2,
		'sub-menu-2': item.level === 3,
		'active': item.target ? router.isActive(item.target, true): false,
		'expanded': expanded,
		'mb-2': item.level === 1
	}"
	(click)="onItemSelected(item)">

	<mat-icon *ngIf="item.icon"
		class="icon-menu"
		style="margin-right: 15px"
		[svgIcon]="router.isActive(item.target, true) || parentMenuActive() ? item.icon + '_active' : item.icon">
	</mat-icon>

	<span>
		{{ item.name }}
	</span>

	<mat-icon *ngIf="item.subMenu && item.subMenu.length"
		class="expand__icon ml-auto">
		{{ expanded ? 'expand_less': 'expand_more' }}
	</mat-icon>
</a>
<div *ngIf="expanded">
	<app-menu *ngFor="let child of item.subMenu"
		[item]="child"
		[depth]="depth + 1"
		(openSidenav)="openSidenavChild(child)">
	</app-menu>
</div>
