<mat-toolbar class="app-toolbar px-4">
	<div class="d-flex my-auto">
		<img src="../../../../assets/images/logo.svg"
			alt="Logo">

		<div class="ml-3">
			<p class="font-AxiataBold font-14px line-height-title mb-0">
				ADL INDONESIA
			</p>
			<p class="font-Axiata font-12px line-height-subtitle mb-0">
				Design System
			</p>
		</div>
	</div>

	<button mat-icon-button
		[ngClass]="isDesktop ? 'ml-5' : 'ml-auto'"
		(click)="onToggleSidenav()">
		<mat-icon>menu</mat-icon>
	</button>
</mat-toolbar>
