@import './abstracts/variables';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
	$font-family: $font-family-medium,
);

@include mat-core($custom-typography);

/* BUTTON */
button:focus {
	outline: 0 !important;
}
button:hover {
	opacity: 0.8 !important;
}

.mat-button[disabled],
.mat-flat-button[disabled],
.mat-icon-button[disabled],
.mat-stroked-button[disabled] {
	cursor: not-allowed !important;
}

/* COLOR */
.mat-primary,
.mat-select-arrow,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color: $color-primary !important;
}

.mat-danger,
.mat-danger .mat-option.mat-selected:not(.mat-option-disabled) {
	color: $color-red !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary {
	background-color: $color-primary !important;
	color: white !important;
}

.mat-default {
	color: $color-black !important;
}
