<form class="adl-library-form"
	[formGroup]="form">
	<div class="row">
		<div class="col-md-12 col-12">
			<div class="form-group">
				<mat-form-field class="input-classic input-no-hint"
					floatLabel="never">
					<input matInput
						placeholder="First Name"
						autocomplete="off"
						formControlName="firstName">
				</mat-form-field>

				<mat-error align="start"
					*ngFor="let messageValidation of validationMessages.firstName">
					<p class="font-12px"
						*ngIf="form.get('firstName')?.touched 
							&& form.get('firstName')?.hasError(messageValidation.type)">
						{{messageValidation.message}}
					</p>
				</mat-error>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-12">
			<div class="form-group">
				<mat-form-field class="input-classic input-no-hint"
					floatLabel="never">
					<input matInput
						placeholder="Last Name"
						autocomplete="off"
						formControlName="lastName">
				</mat-form-field>

				<mat-error align="start"
					*ngFor="let messageValidation of validationMessages.lastName">
					<p class="font-12px"
						*ngIf="form.get('lastName')?.touched 
							&& form.get('lastName')?.hasError(messageValidation.type)">
						{{messageValidation.message}}
					</p>
				</mat-error>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-12">
			<div class="form-group">
				<mat-form-field class="input-classic input-no-hint"
					floatLabel="never">
					<input matInput
						placeholder="Email"
						autocomplete="off"
						formControlName="email">
				</mat-form-field>

				<mat-error align="start"
					*ngFor="let messageValidation of validationMessages.email">
					<p class="font-12px"
						*ngIf="form.get('email')?.touched 
							&& form.get('email')?.hasError(messageValidation.type)">
						{{messageValidation.message}}
					</p>
				</mat-error>
			</div>
		</div>
	</div>

	<mat-divider class="mb-3"></mat-divider>

	<div class="d-flex justify-content-between align-items-center my-4">
		<p class="font-black font-AxiataBold mb-0">
			Items
		</p>

		<button mat-flat-button
			type="button"
			color="primary"
			class="font-12px"
			(click)="addItemControl()">
			Add Item
		</button>
	</div>

	<div class="row mb-3"
		*ngFor="let item of getItemForm(); let itemIndex = index">
		<div class="col-md-12 col-12">
			<div class="form-group">
				<div class="d-flex">
					<mat-form-field class="input-classic input-no-hint"
						floatLabel="never">
						<input matInput
							[placeholder]="'Item ' + (itemIndex + 1)"
							autocomplete="off"
							[formControl]="item.get('itemName') | toControl">
					</mat-form-field>

					<mat-icon class="icon-remove font-20px pointer"
						(click)="removeItemControl(itemIndex)">close</mat-icon>
				</div>

				<mat-error align="start"
					*ngFor="let validation of validationMessages.itemName">
					<p class="font-12px"
						*ngIf="(item.get('itemName') | toControl).touched 
								&& (item.get('itemName') | toControl).hasError('required')">
						{{ validation.message }}
					</p>
				</mat-error>
			</div>

			<mat-divider></mat-divider>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-12">
			<button mat-flat-button
				color="primary"
				class="loader"
				[disabled]="isLoading"
				(click)="onSubmit()">
				<mat-spinner *ngIf="isLoading"
					class="my-auto mr-2"
					[diameter]="20"
					[strokeWidth]="3"></mat-spinner>
				Submit
			</button>
		</div>
	</div>
</form>
