<h2 class="font-heading font-AxiataBold mb-3">Avatar</h2>

<p>Avatar is a component to display the identity of the user. The shape of this avatar can be a circle or a square. In
	this avatar there are also several additional components such as user name/email/username, status, and additional
	text (depending on needs).</p>

<p class="mb-0">Source:</p>

<a href="https://www.lightningdesignsystem.com/components/avatar/"
	class="d-block font-dark font-12px"
	target="blank">
	https://www.lightningdesignsystem.com/components/avatar/
</a>
<a href="https://atlassian.design/components/avatar/examples"
	class="d-block font-dark font-12px"
	target="blank">
	https://atlassian.design/components/avatar/examples
</a>

<mat-divider class="mt-4 mb-2"></mat-divider>

<div class="d-flex justify-content-between align-items-center my-4">
	<p class="font-black font-AxiataBold mb-0">
		Avatar
	</p>

	<button mat-flat-button
		color="primary"
		class="font-12px"
		(click)="isShowSnippet = !isShowSnippet">
		<mat-icon class="font-20px">code</mat-icon> Code
	</button>
</div>

<div *ngIf="isShowSnippet">
	<pre><code [highlight]="codeSnippet" [languages]="['html']"></code></pre>
</div>

<!-- 16 -->
<div class="row mt-4 mb-2">
	<div class="col-1">
		<div class="avatar avatar-16 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-16 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-16 avatar-rounded font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
	<div class="col-2">
	</div>
	<div class="col-1">
		<div class="avatar avatar-16">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-16 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-16 font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
</div>

<!-- 24 -->
<div class="row mb-2">
	<div class="col-1">
		<div class="avatar avatar-24 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-24 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-24 avatar-rounded font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
	<div class="col-2">
	</div>
	<div class="col-1">
		<div class="avatar avatar-24">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-24 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-24 font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
</div>

<!-- 32 -->
<div class="row mb-2">
	<div class="col-1">
		<div class="avatar avatar-32 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-32 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-32 avatar-rounded font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
	<div class="col-2">
	</div>
	<div class="col-1">
		<div class="avatar avatar-32">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-32 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-32 font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
</div>

<!-- 40 -->
<div class="row mb-2">
	<div class="col-1">
		<div class="avatar avatar-40 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-40 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-40 avatar-rounded font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
	<div class="col-2">
	</div>
	<div class="col-1">
		<div class="avatar avatar-40">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-40 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-40 font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
</div>

<!-- 48 -->
<div class="row">
	<div class="col-1">
		<div class="avatar avatar-48 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-48 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-48 avatar-rounded font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
	<div class="col-2">
	</div>
	<div class="col-1">
		<div class="avatar avatar-48">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-48 avatar-rounded">
			<img src="../../../../../assets/images/avatar-01.svg"
				alt="" />
		</div>
	</div>
	<div class="col-1">
		<div class="avatar avatar-48 font-AxiataBold">
			<span class="my-auto">AD</span>
		</div>
	</div>
</div>

<div class="d-flex justify-content-between align-items-center my-4">
	<p class="font-black font-AxiataBold mb-0">
		Avatar with Text
	</p>

	<button mat-flat-button
		color="primary"
		class="font-12px"
		(click)="isShowSnippetWithText = !isShowSnippetWithText">
		<mat-icon class="font-20px">code</mat-icon> Code
	</button>
</div>

<div *ngIf="isShowSnippetWithText">
	<pre><code [highlight]="codeSnippetWithText" [languages]="['html']"></code></pre>
</div>

<!-- Avatar With Text -->
<div class="row mb-4">
	<div class="col-12 d-flex mb-3">
		<div class="avatar avatar-32 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>

		<div class="avatar-with-image-32 ml-2">
			<span class="title">
				ADL Indonesia
			</span>
			<span class="subtitle">
				UI/UX Designer
			</span>
		</div>
	</div>
	<div class="col-12 d-flex">
		<div class="avatar avatar-40 avatar-rounded">
			<mat-icon class="icon-menu icon-avatar my-auto"
				svgIcon="icon_avatar"></mat-icon>
		</div>

		<div class="avatar-with-image-40 ml-2">
			<span class="title">
				ADL Indonesia
			</span>
			<span class="subtitle">
				UI/UX Designer
			</span>
		</div>
	</div>
</div>
