<h2 class="font-heading font-AxiataBold mb-3">Accordion</h2>

<p>Accordion is a component in the UI that functions to hide and display information. This accordion is made so that
	users don't open up too much content that confuses them. Basically this accordion has 2 important components, namely
	the title of the content and the content itself. So if a user wants to see information that only they wants to see,
	they can simply click on the accordion to view the information in it.</p>


<p class="mb-0">Source:</p>

<a href="https://uxdesign.cc/ui-cheat-sheet-accordions-3e88f0d4dfee"
	class="d-block font-dark font-12px"
	target="blank">
	https://uxdesign.cc/ui-cheat-sheet-accordions-3e88f0d4dfee
</a>
<a href="https://v12.material.angular.io/components/expansion/api"
	class="d-block font-dark font-12px"
	target="blank">
	Angular Material - Expansion Panel
</a>

<mat-divider class="mt-4 mb-2"></mat-divider>

<div class="d-flex justify-content-between align-items-center my-4">
	<p class="font-black font-AxiataBold mb-0">
		Basic Expansion Panel
	</p>

	<button mat-flat-button
		color="primary"
		class="font-12px"
		(click)="isShowAccordionBasic = !isShowAccordionBasic">
		<mat-icon class="font-20px">code</mat-icon> Code
	</button>
</div>

<div *ngIf="isShowAccordionBasic">
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="HTML">
			<pre><code [highlight]="codeSnippetBasic" [languages]="['html']"></code></pre>
		</mat-tab>
		<mat-tab label="Module">
			<pre><code [highlight]="codeSnippetModule" [languages]="['typescript']"></code></pre>
		</mat-tab>
	</mat-tab-group>
</div>

<mat-accordion class="accordion-basic">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Accordion 1
			</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua.</p>
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Accordion 2
			</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua.</p>
	</mat-expansion-panel>
</mat-accordion>

<div class="d-flex justify-content-between align-items-center my-4">
	<p class="font-black font-AxiataBold mb-0">
		Expansion Panel with Icon
	</p>

	<button mat-flat-button
		color="primary"
		class="font-12px"
		(click)="isShowAccordionWithIcon = !isShowAccordionWithIcon">
		<mat-icon class="font-20px">code</mat-icon> Code
	</button>
</div>

<div *ngIf="isShowAccordionWithIcon">
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="HTML">
			<pre><code [highlight]="codeSnippetWithIcon" [languages]="['html']"></code></pre>
		</mat-tab>
		<mat-tab label="Module">
			<pre><code [highlight]="codeSnippetModule" [languages]="['typescript']"></code></pre>
		</mat-tab>
	</mat-tab-group>
</div>

<mat-accordion class="accordion-icon">
	<mat-expansion-panel hideToggle>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon class="icon-menu open"
					svgIcon="icon-open"></mat-icon>
				<mat-icon class="icon-menu close"
					svgIcon="icon-close"></mat-icon>

				Accordion 1
			</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua.</p>
	</mat-expansion-panel>
	<mat-expansion-panel hideToggle>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon class="icon-menu open"
					svgIcon="icon-open"></mat-icon>
				<mat-icon class="icon-menu close"
					svgIcon="icon-close"></mat-icon>

				Accordion 2
			</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua.</p>
	</mat-expansion-panel>
</mat-accordion>

<div class="d-flex justify-content-between align-items-center my-4">
	<p class="font-black font-AxiataBold mb-0">
		Expansion Panel as Card
	</p>

	<button mat-flat-button
		color="primary"
		class="font-12px"
		(click)="isShowAccordionAsCard = !isShowAccordionAsCard">
		<mat-icon class="font-20px">code</mat-icon> Code
	</button>
</div>

<div *ngIf="isShowAccordionAsCard">
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="HTML">
			<pre><code [highlight]="codeSnippetAsCard" [languages]="['html']"></code></pre>
		</mat-tab>
		<mat-tab label="Module">
			<pre><code [highlight]="codeSnippetModule" [languages]="['typescript']"></code></pre>
		</mat-tab>
	</mat-tab-group>
</div>

<mat-accordion class="accordion-card">
	<mat-expansion-panel hideToggle>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon class="icon-menu open"
					svgIcon="icon-open"></mat-icon>
				<mat-icon class="icon-menu close"
					svgIcon="icon-close"></mat-icon>

				Accordion 1
			</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua.</p>
	</mat-expansion-panel>
	<mat-expansion-panel hideToggle>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon class="icon-menu open"
					svgIcon="icon-open"></mat-icon>
				<mat-icon class="icon-menu close"
					svgIcon="icon-close"></mat-icon>

				Accordion 2
			</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua.</p>
	</mat-expansion-panel>
</mat-accordion>
