.multichat {
  container {
    max-width: 1170px;
    margin-left: 12px;
  }

  .font {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: -26px 50px;
  }

  .new_message {
    margin-left: 140px;
    margin-top: 15px;
    width: 128px;
    border: 1px solid #f7fbeb;
    background-color: #f7fbeb;
    text-align: center;
    color: #b2d437;
  }

  .header {
    position: absolute;
    width: 1420px;
    height: 61px;
    top: 80px;
    background: #ffffff;
  }

  .people {
    display: inline-block;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
  }

  img {
    max-width: 100%;
  }

  .inbox_people {
    background: white none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }

  .inbox_msg {
    border: 1px solid white;
    clear: both;
    overflow: hidden;
  }

  .top_spac {
    margin: 20px 0 0;
  }

  .recent_heading {
    float: left;
    width: 40%;
  }
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
  }
  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    height: 61px;
    border-bottom: 1px solid white;
  }

  .stylish-input-group {
    width: 370px;
  }

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }

  .srch_bar input {
    width: 100%;
    padding: 2px 0 4px 6px;
    background: #fafafa;
    border: none;
  }

  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
  }

  .chat_ib h5 {
    font-size: 15px;
    color: #464646;
    font-family: $font-family;
    margin: 0 0 8px 0;
  }

  .chat_ib h5 span {
    font-size: 13px;
    float: right;
    font-family: $font-family;
  }
  .chat_ib p {
    font-size: 14px;
    color: #989898;
    font-family: $font-family;
    margin: auto;
  }
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    width: 290px;
    padding: 0 0 0 0px;
  }

  .notif {
    width: 20px;
    height: 20px;
    text-align: center;
    background: #ed3d80;
    border-radius: 100%;
    color: white;
    margin-left: 292px;
    margin-top: -23px;
  }

  .chat_people {
    overflow: hidden;
    clear: both;
  }
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  .inbox_chat {
    height: 665px;
    overflow-y: scroll;
  }

  .active_chat {
    background: #ebebeb;
  }

  .rounded-image {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }

  .rounded-image2 {
    width: 120px;
    height: 50px;
    border-radius: 100%;
  }

  .user {
    float: left;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    font-family: $font-family !important;
    margin-top: 10px;
    margin-left: 1px;
  }

  .icon_hidden {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
	resize: horizontal;
  }
  .received_withd_msg p {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    color: #2c3b71;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
	resize: horizontal;
	max-width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 40px 0 0;
  }
  .received_withd_msg {
	resize: horizontal;
	max-width: 100%;
  }
  .mesgs {
    float: left;
    padding: 70px 15px 0 25px;
    width: 60%;
  }

  .sent_msg p {
    background: #2c3b71 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    font-family: $font-family !important;
    margin: 0;
    color: white;
    padding: 5px 10px 5px 12px;
	resize: horizontal;
	max-width: 500px;
	float: right;
	box-shadow: 12px 12px 20px rgba(44, 59, 113, 0.04);
	border-radius: 8px;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
  }
  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }
  .sent_msg {
	float: right;
	resize: horizontal;
	max-width: 100%;
  }
  .input_msg_write input {
    background: white none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 50px;
    width: 85%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }
  .msg_send_btn {
    background: #6177c4;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 15px;
    margin-top: -10px;
    width: 106px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
  }
  .messaging {
    padding: 0 0 50px 0;
  }
  .msg_history {
    height: 516px;
    overflow-y: auto;
  }

  .title {
    font-size: $font-xxl;
    font-family: $font-family;
    font-weight: bold;
  }

  .name {
    font-size: $font-md;
    font-family: $font-family;
    font-weight: normal;
  }

  .border-e8eef3 {
    border: 2px solid #e8eef3 !important;
  }

  .bg {
    background-color: $blue-soft-color;
  }

  .rounded-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .rounded-image2 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }

  .margin {
    margin-left: -23px;
  }

  .icon-margin {
    margin-left: 110px;
  }

  svg {
    vertical-align: top;
  }

  .mat-card-header {
    &-text {
      margin: 0;
    }
  }

  @media (min-width: 992px) {
    .rounded-image {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    .chat_ib h5 {
      font-size: 18px;
      font-family: $font-family;
      color: #464646;
      margin-bottom: 8px;
      margin-left: -1%;
    }

    .chat_ib p {
      font-size: 14px;
      color: #989898;
      font-family: $font-family;
      margin-left: -1%;
    }

    .chat_ib h5 span {
      font-size: 13px;
      margin-right: 3%;
      font-family: $font-family;
      color: #a7acaf;
      font-style: normal;
      font-weight: normal;
    }

    .icon-margin {
      margin-left: 110px;
    }

    .notif {
      width: 20px;
      height: 20px;
      text-align: center;
      background: #ed3d80;
      border-radius: 100%;
      color: white;
      font-family: $font-family;
      margin-left: 255px;
      margin-top: -23px;
    }
  }
}
