.app-layout {
	.mat-sidenav-container {
		height: 100vh;
		background-color: white;

		.mat-sidenav {
			width: $sidebar-width;
		}

		.mat-nav-list {
			.mat-list-item {
				font-size: $font-sm;

				&:hover,
				&.active {
					border-left: 6px solid $color-heading;
					height: 48px;
				}
			}
		}
	}
}
